#heading {
	margin:5px;
	overflow: auto;
	text-align: center;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 10px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20pt;

}


#wheel {
	width: 200px;
	height: 400px;
	background: brown;
	text-align: center;
	float:left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	position: relative;

	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 12pt;
	color: white;
}


#slotContainer {
	border: 4px blue solid;
	background-color: black;
	background-size: 1200px 800px;
	padding-left:10%;
	padding-right:10%;
	padding-top: 0;
	padding-bottom: 15px;
	margin-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5px;
	overflow: auto;
	text-align: center;
	border-radius: 10px;

	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 24pt;
	color: white;
}


#description {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 12pt;
	color: white;

}


#restart {
	text-align: center;
	font-size: 12pt;
	margin-top: 403px;
	overflow: auto;
	width: auto;
	height:auto;
	color: black;
	position: absolute;
	background-color: white;
	text-decoration: none;

	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	padding-right: 5px;
	padding-left:5px; 
	padding-top: 0;
	border-radius: 5px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 10pt;
	opacity: .5;
}

#restart:hover {
	color: blue;
	background-color: gray;
	opacity: .9;
}

